.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    margin: 15px 0;
}
.footer span {
    margin: 5px;
}

.footer span .contact-link:hover{
    transition: 200ms ease-in;
    text-decoration: underline;
}

@media (max-width: 850px) {
    
    .contact-span {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width : 450px) {
    .footer{
        flex-direction: column;
    }
}